<%# JOB INDEX VIEW %>

<% content_for(:page_nav) do %>
	<% unless @user.nil? %><li><%= link_to "Add new print job", new_user_job_path %></li><% end %>
	<li></li>
<% end %>

<% content_for(:page_stat) do %>
	<h3 class="unpaid"><%=h number_to_currency @total_unpaid %></h3>
	<p class="unpaid">Unpaid print jobs</p>
<% end %>


<%= render :partial => 'shared/table' %>