/* TYPOGRAPHY */
* {
	font-family: Arial, Helvetica, sans-serif;
}
div {
	margin: 0;
}
.vertical_nav li, .horizontal_nav li {
	font-size: .8em;
	text-transform: capitalize;
}
#site_nav li {
	text-transform: uppercase;
}
h1, h2, h3, h4, h5, p {
	font-weight: normal;
	padding: 0px;
	margin: 0px;
}
#site_title h2 {
	font-weight: normal;
	font-size: 1.1em;
}
#login_form p{
	font-size: 0.9em;
}
#page_title h1 {
	font-weight: bold;
}
#page_description p {
	margin-top: 0.5em;
	font-size: 0.8em;
}
#page_stat h3#stat {
	margin: 0;
	padding: 0;
	font-size: 2.5em;
	text-align: left;
}
#page_stat p {
	font-size: .8em;
	font-weight: bold;
	text-align: left;
}
.flash p{
	font-size: 1.1em;
	font-weight: bold;
}
/* LAYOUT */
body {
	padding: 0;
	margin: 0;
}
#banner, #page_header, #content {
	padding-top: 0;
	padding-left: 0.7em;
	padding-right: 0.7em;
}
#page_header {
	padding-top: 0.7em;
}
#banner #logo {
	float: left;
}
#banner, #site_title, #site_nav, #login_form {
	height: 35px;
}
#site_title {
	float: left;
	width: 400px;
	padding-top: 2px;
}
#site_title h2{
	margin-top: 5px;
	margin-left: 90px;
}
#login_form {
	float: right;
	width: 350px;
	text-align: right;
}
#login_form form, #login_form p {
	padding-top: 8px;
}

#site_nav {
	display: block;
	padding-top: 10px;
	margin-bottom: 0px;
	margin-left: 500px;
	margin-right: 360px;
}
#site_nav ul {
	margin-top: 10px;
}
#page_description {
	margin-right: 400px;
}
#page_stat {
	width: 150px;
}
#page_stat, #page_nav {
	float: right;
}
#page_nav, #page_nav ul li {
	width: 200px;
	text-align: right;
}

/* COLOR */
body {
	background: #FFF;
}
#banner {
	background-color: #999;
}
#site_title h2{
	color: #EEE;
}
#site_nav a {
	color: #FFF;
}
#page_nav a {
	color: #333;
}
#page_stat, #page_stat h3 {
	color: #AAA;
}

#error { background-color: #E00; color: #600; }
#warning { background-color: #FF6; color: #660; }
#notice { background-color: #AFF0fe; color: #1fbfe1; }

/* BASIC ELEMENTS */
a {
	text-decoration: none;
	font-weight: bold;
	color: #000;
}
.clear {
	clear: both;
}
.horizontal_nav, .horizontal_nav li{
	display: inline;
	padding: 0;
	margin: 0;
	margin-right: 2em;
	list-style-type:none;
}
.vertical_nav {
	padding: 0;
	margin: 0;
	list-style-type: none;
	
}
.vertical_nav li {
	display: block;
	text-align: center;
	padding: 2px;
	margin-bottom: 2px;
}
.flash {
	padding: 0.5em; 
	margin: 1em;
	margin-left: 0;
	margin-right: 0;
	text-align: center;		
}
.left {
	text-align: left;
}
/* TABLES AND FORMS */
#content form, #content form p {
	text-align: left;
	margin-bottom: .5em;
}
#main_table th, #content label {
	text-align: left;
	font-weight: normal;
	font-size: .8em;
	color: #555;
	text-transform: uppercase;
}
#content input {
	margin-bottom: .2em;
	margin-top: .1em;
	font-size: 1.1em;
}
#main_table {
	width: 100%;
	margin-top: 1em;
	font-size: 0.8em;
}
#main_table tr.even {
	background-color: #eeeeff;
}
#main_table td, #main_table th {
	padding: 1em;
}		
#main_table th, label {
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	color: #666;
	text-transform: uppercase;
	font-size: 0.8em;
	text-align: left;
	vertical-align: bottom;
}
#main_table th {
	padding-left: 0.1em;
}
#main_table caption {
	font-weight: bold;
	font-size: 1.5em;
	text-align: left;
	margin-bottom: 5px;
	margin-top: 10px;
}
#main_table .button a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 0.7em;
	font-weight: bold;
}

/* CENTERED PAGE */
.centered #page_stat, .centered #page_nav {
	display: none;
}
.centered {
	background-color: #DDD;
	padding: 3em;
	padding-top: 1.5em;
	margin-top: 3em;
	margin-left: 25%;
	margin-right: 25%;
}
.centered #page_description {
	margin: 0;
	padding: 0;
}
.centered #page_header {
	margin: 0;
	padding: 0;
	text-align: right;
}
.centered #page_title {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #999;
	font-size: 2.5em;
}