<% content_for :page_class, "centered" %>

<% content_for(:page_nav) do %>
	<li></li>
	<li></li>
<% end %>

<% if current_user %>
<p>Hi <%=h current_user.first_name %>.</p>
<% else %>
<p>Please <%= link_to "log in", login_path %> to use the system,</p>
<% end %>